assignment 2 python basic

In [ ]:
#question1
#write a code to create a string with your name and print it.
name=("G.SAI KRISHNA")
print(name)
print(type(name))

G.SAI KRISHNA
<class 'str'>

In [ ]:
#question2
#write a code to find the lenght of the string "hello world".
text=("hello world")
print(len(text))

11

In [ ]:
#question3
#write a code to slice typhe first 3 characters from the string "python programming".
name=("python programming")
print(name[0:3])

pyt

In [ ]:
#question4
#write code to convert the string "hello" to uppercase.
str="hello"
uppercase_str=str.upper()
print(uppercase_str)

HELLO

In [ ]:
#question5
#write a code to replace the word "apple with "orange in the string i like apple.
fruit=("i like apple")
new_fruit=fruit.replace("apple","orange")
print(new_fruit)

i like orange

In [ ]:
#question6
##write a code to create a list with numbers 1 to 5 and print it.
num_list=[1,2,3,4,5]
print(num_list)
print(type(num_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
#question7
#write a code to append the number to the list[1,2,3,4].
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#question8
#write a code to remove the number 3 from the list[1,2,3,4,5].
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#question9
#write a code to access the second element in the list["a","b","c","d"]
list=["a","b","c","d"]
print(list[1])

b

In [ ]:
#question10
#write a code to reverse the list[10,20,30,40].
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#question11
#write  acode to create a tuple with the elements 100,200,300 and print it.
tuple=(100,200,300)
print(tuple)
print(type(tuple))

(100, 200, 300)
<class 'tuple'>

In [ ]:
#question12
#write a code to access the second to last element of the tuple("red","green","blue","yellow").
tuple=("red","green","blue","yellow")
print(tuple[1:len(tuple)])

('green', 'blue', 'yellow')

In [ ]:
#question13
#write  a code to find the minimun number in the tuple(10,20,5,15).
num=(10,20,5,15)
minimun=min(num)
print(minimun)

5

In [ ]:
#question14
#write a code to find the index of the element "cat" in the tuple("dog","cat","rabbit").
animals=("dog","cat","rabbit")
index=animals.index("cat")
print(index)

1

In [ ]:
#question15
#write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("apple","orange","blueberry","kiwi")
if "kiwi" in fruits:
    print("my fruit has kiwi in it:",True)
else:
    print("kiwi doesnt exists in my fruit:",False)

my fruit has kiwi in it: True

In [ ]:
#question16
#write a code to create a set with the numbers 1 to 5 and print it.
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#question17
#write a code to clear all elements from the set{1,2,3,4}.
set={1,2,3,4}
set.clear()
print(set)

set()

In [ ]:
#question18
#write a code to remove the element 4 from the set{1,2,3,4}.
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#question19
#write  a code to find the union of two sets {1,2,3} and {3,4,5}
num={1,2,3}
num2={3,4,5}
print(num|num2)

{1, 2, 3, 4, 5}

In [ ]:
#question20
#write  a code to find the intersection of two sets {1,2,3} and {2,3,4}.
num={1,2,3}
num2={2,3,4}
print(num&num2)

{2, 3}

In [ ]:
#question21
#write  a code to create a dictionary with the keys "name","age"and "city" and print it.
dict={
    "name":"ryan",
    "age":20,
    "city":"jamshedpur",
}
print(dict)

{'name': 'ryan', 'age': 20, 'city': 'jamshedpur'}

In [ ]:
#question22
#write a code to add a new key-value pair "country":"usa" to the dictionary{name john and age 25}.
dict={
    "name":"john",
    "age":25,
}
dict.update({"country":"usa"})
print(dict)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [ ]:
#question23
#write a code to access the value associated with the keys"name " in the dictionary {name alice and age 30}.
dict={
    "name":"alice",
    "age":30,
}
print(dict["name"])

alice

In [ ]:
#question24
#write a  code to remove the key "age" from the dictionary {name bob age 22 city new york}.
dict={
    "name":"bob",
    "age":22,
    "city":"new york"
}
dict.pop("age")
print(dict)

{'name': 'bob', 'city': 'new york'}

In [ ]:
#question25
#write a code to check if the key city exists in the dictionary {name alice city paris}.
dict={
    "name":"alice",
    "city":"paris",
}
if "city" in dict:
    print("city exists")
else:
    print("city doesnt exists")

city exists

In [ ]:
#question26
#write a code to create a list a tuple and a dictionary and print the all.
list=[1,2,3,4]
tuple=(24,12,20,22)
dict={
    "name":"ryan",
    "age":20,
    "hobby":"playing Tennis",
}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(24, 12, 20, 22)
{'name': 'ryan', 'age': 20, 'hobby': 'playing Tennis'}

In [ ]:
#question27
#write a code to create a list of 5 random numbers between 1 and 100,sort in ascending order and print the result (replaced).
list=[12,24,4,20]
list.sort()
print(list)

[4, 12, 20, 24]

In [ ]:
#question28
#write a code to create a list with strings and print the element at the third index.
list=["apple","graps","blueberry","orange"]
print(list[3])

orange

In [ ]:
#question29
#write a code to combine two dictionaries into one and print the result.
dict={
    "name":"ryan",
    "age":20,
}
dict2={
    "name":"novak",
    "age":48,
}
combined_dict={**dict ,**dict2}
print(combined_dict)

{'name': 'novak', 'age': 48}

In [ ]:
#question30
#write a code to convert a list of strings into a set.
string_list=["krishna","preetishah","aabha"]
unique_list=[]
for iteam in string_list:
    if iteam not in unique_list:
      unique_list.append(iteam)
print("{"+",".join(unique_list)+"}")

{krishna,preetishah,aabha}

Theory questions assignment 2

1. what are data structures, and why are they important?
ANS=A data structure is a specialized way of organizing, managing, and storing data in a computer so it can be used efficiently. They define the relationship between the data and the operations that can be performed on it.

Data structures are crucial in computer science and programming for several reasons:
A. Faster Performance=They make it easier and quicker to work with data.
B.Better Organization=They help keep data neat and easy to use.
C.Solving Real Problems=They are used in real-world applications like apps, games, and websites.
D.Efficient Memory Use=They help save computer memory.
E.Foundation for Algorithms=Most algorithms use data structures to work properly.

2. Explain the difference between mutable and immutable data types with examples.
ANS= mutable can be changed after creation.
example= list,dict,set.
my_list=[1,2,3]
my.list[0]=10
This is allowed.

immutable cannot be changed after creation.
example= string , tuple.
my_str="hello"
my_str[0]= "H"
This will give an error.

3. What are the main differences between lists and tuples in Python
ANS= The main difference between lists and tuples in pyhton are-:
A.list is mutable data type whereas tuple is an immutable data type.
B.for list we use "[]" square brackets whereas for tuple we use "()" parentheses.
C.list is slower as compare to tuple.
D.Data in list can be changed where as data in tuple are unchangable.

4. Describe how dictionaries store data
ANS= Dictionaries store data in key-value pairs. Each key is unique, and it points to a specific value.
student = {"name": "Alice", "age": 20}
# "name" and "age" are keys, "Alice" and 20 are values

5. Why might you use a set instead of a list in Python
ANS= A.Sets automatically remove duplicate values.
B.They are faster than lists for checking if a value exists.

my_set = {1, 2, 3, 3}
print(my_set)  # Output: {1, 2, 3}

6. What is a string in Python, and how is it different from a list
ANS= A string is a sequence of characters, like "hello".

A list is a sequence of items, which can be of any data type.

Key Differences:

Strings are immutable, lists are mutable.

Strings can only hold characters; lists can hold any data type.

7. How do tuples ensure data integrity in Python.
ANS=Since tuples are immutable, the data inside cannot be accidentally changed. This makes them ideal for storing fixed data like dates, coordinates, or configurations.
coordinates = (10, 20)  # Cannot be changed accidentally.

8. What is a hash table, and how does it relate to dictionaries in Python.
ANS= A hash table is a data structure that stores key-value pairs. It uses a hash function to quickly find where to store or locate a key.

Python dictionaries are built using hash tables. This allows them to access values very fast using keys.

9. Can lists contain different data types in Python.
ANS=Yes, lists in Python can hold different data types.
my_list = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python.
ANS=Strings are immutable to:

Improve performance (especially in loops)

Make them hashable (so they can be used as dictionary keys)

Prevent accidental changes

If you need to modify a string, you create a new one.

11. What advantages do dictionaries offer over lists for certain tasks.
ANS=Faster lookups using keys

Clear structure with named keys instead of index numbers

No need to remember index positions
# Better readability
student = {"name": "Emma", "grade": 90}

12. Describe a scenario where using a tuple would be preferable over a list.
ANS=Use a tuple when:

You don’t want the data to change (e.g., coordinates)

You want to use it as a key in a dictionary (tuples are hashable)

Example:
coordinates = (40.7128, -74.0060)  # City location

13. How do sets handle duplicate values in Python.
ANS=Sets automatically remove duplicates. If you add the same value more than once, it only keeps one copy.

my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries.
ANS=In a list, in checks if a value is present as an element.
my_list = [1, 2, 3]
print(2 in my_list)  # True

In a dictionary, in checks if a value is a key (not a value).
my_dict = {"name": "Alice", "age": 25}
print("name" in my_dict)  # True
print("Alice" in my_dict)  # False

15. Can you modify the elements of a tuple? Explain why or why not.
ANS=No, you cannot modify elements of a tuple because tuples are immutable. Once created, their content cannot be changed.
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise an error
This immutability ensures data integrity.

16. What is a nested dictionary, and give an example of its use case.
ANS=A nested dictionary is a dictionary that contains another dictionary as a value.
Example:
student = {
  "name": "Emma",
  "grades": {"math": 90, "science": 85}
}
Use Case:
Useful for storing structured data like a database:

Students with multiple subjects

Employees with details like address, contact, etc.



17. Describe the time complexity of accessing elements in a dictionary.
ANS=Accessing elements in a dictionary is usually O(1) (constant time) because it uses a hash table internally.
my_dict = {"a": 1, "b": 2}
print(my_dict["b"])  # Fast lookup


18.  In what situations are lists preferred over dictionaries.
ANS=Use lists when:

Order of elements matters

You just need a collection of values without keys

You need to loop through items in order

Example:
colors = ["red", "blue", "green"]
Use it for:

Storing items like names, numbers, or tasks

Simple sequences without needing labels


19. Why are dictionaries considered unordered, and how does that affect data retrieval.
ANS=In older versions of Python (before Python 3.7), dictionaries were considered unordered because they did not maintain the order in which items were added. The key-value pairs were stored based on how they were hashed, not by their insertion order.

Example (pre-3.7 behavior):
my_dict = {"a": 1, "b": 2, "c": 3}
# The order of items when printed could be different each time

Modern Python (3.7 and above)
Starting with Python 3.7, dictionaries do preserve the insertion order of keys. However, they are still logically unordered in the sense that:

You should not rely on their order for logic.

You cannot access items by index like a list.

How Does That Affect Data Retrieval?
You retrieve values by key, not by position or order.

This makes lookup very fast (usually O(1), constant time).

But you can't say “give me the second item” like you can with a list.

Example:
my_dict = {"name": "Emma", "age": 20}
print(my_dict["age"])  # Access by key, not position




20. Explain the difference between a list and a dictionary in terms of data retrieval.
ANS=A list and a dictionary are both used to store collections of data in Python, but they retrieve data in different ways:

List:
Retrieval by Index (Position)

Each item is stored in a specific order, and you access it using a number called an index.

Indexes start from 0.
Example:
my_list = ["apple", "banana", "cherry"]
print(my_list[1])  # Output: "banana"
Use Case: When the order matters and you don't need labels for each item.

Dictionary:
Retrieval by Key

Data is stored in key-value pairs, and you access values by their key, not by position.

Keys are unique and act like labels for the data.
Example:
my_dict = {"fruit1": "apple", "fruit2": "banana"}
print(my_dict["fruit2"])  # Output: "banana"
Use Case: When you want to label your data and retrieve items quickly using those labels.